.navbar{
  background-color: rgb(17, 3, 104);
  font-family: 'Freehand', cursive;
}
.forms-input{
  margin: 0;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #2faef3;
  font-family: 'Patrick Hand', cursive;
  
}
.navbar-toggler{
  color: white;
  
}
#btn-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#btn{
  align-self: center;
  max-width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
